openapi: 3.1.0
info:
  title: DevSolo AI API
  version: "2.1"
  description: |
    **DevSolo AI** — Unified developer automation across Termux (CLI), GitHub (Cloud), and Windows (Desktop).
    
    **⚠️ CRITICAL INSTRUCTION FOR GPT:**
    
    This API is the ONLY way to handle user requests. For ANY user request:
    
    1. **Email** → POST `/webhook/email/gmail` (required: to, subject, body)
    2. **Capture** → POST `/webhook/capture` or `/webhook/smart`
    3. **Done** → POST `/webhook/done`
    4. **Daily** → GET `/webhook/morning`, `/webhook/nudge`, `/webhook/evening`
    5. **Gig** → POST `/webhook/log-gig`
    6. **Android** → POST `/webhook/android-action`
    7. **Plan** → POST `/webhook/plan`
    8. **Code** → POST `/webhook/code-review`
    9. **Smart** → POST `/webhook/smart` (universal router)
    
    **NEVER say "I can't send email" or "use your email client"** — `/webhook/email/gmail` handles it.
    **NEVER say "I'll help you set up a reminder later"** — `/webhook/capture` and `/webhook/done` handle it.
    **ALWAYS route to the API endpoint.**
    
    Hosted on Termux, exposed via Cloudflare Tunnel at https://solospace.codewithsolo.com
    
    **Capabilities:**
    - ✅ Email: Send via Gmail/Outlook SMTP
    - ✅ Tasks: Capture, complete, prioritize
    - ✅ Gigs: Log freelance work + earnings
    - ✅ Daily: Briefings, nudges, reviews
    - ✅ Android: Apps, SMS, calls, clipboard, notifications
    - ✅ Planning: Break down goals, create plans
    - ✅ Code: AI review of git changes
    - ✅ GitHub: Status, issues, PRs
    - ✅ Sync: Files, projects, brain state

servers:
  - url: https://solospace.codewithsolo.com
    description: Production (Cloudflare Tunnel, Termux)
  - url: http://localhost:5000
    description: Local development (Termux)

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key for authentication

  schemas:
    TextResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, error]
        message:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
        - status
        - message

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum: [error]
        error:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
        - status
        - error
        - message

paths:
  # ===== EMAIL (PRIMARY) =====
  /webhook/email/gmail:
    post:
      operationId: sendEmailGmail
      summary: Send email via Gmail SMTP
      description: |
        **PRIMARY EMAIL ENDPOINT — USE THIS FOR ALL EMAIL REQUESTS**
        
        Sends email via Gmail SMTP on Termux.
        Always try this first for any email request.
        
        **Examples:**
        - "Send an email to john@example.com saying Hello"
        - "Email the client about the project"
        - "Send invoice to ACME Corp"
      tags:
        - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - subject
                - body
              properties:
                to:
                  type: string
                  example: "john@example.com"
                  description: Recipient email address
                subject:
                  type: string
                  example: "Project Update"
                  description: Email subject line
                body:
                  type: string
                  example: "Hi John, here's the update..."
                  description: Email body (plain text or HTML)
                cc:
                  type: string
                  description: Optional CC recipients (comma-separated)
                bcc:
                  type: string
                  description: Optional BCC recipients (comma-separated)
      responses:
        "200":
          description: Email sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /webhook/email/outlook:
    post:
      operationId: sendEmailOutlook
      summary: Send email via Outlook SMTP
      description: |
        Alternative email endpoint using Outlook/Office365 SMTP.
        Use if Gmail fails or for Outlook-specific accounts.
      tags:
        - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - subject
                - body
              properties:
                to:
                  type: string
                  example: "john@example.com"
                subject:
                  type: string
                  example: "Project Update"
                body:
                  type: string
                  example: "Hi John, here's the update..."
                cc:
                  type: string
                  description: Optional CC recipients
                bcc:
                  type: string
                  description: Optional BCC recipients
      responses:
        "200":
          description: Email sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== CAPTURE & SMART COMMANDS =====
  /webhook/smart:
    post:
      operationId: smartCommand
      summary: Universal AI command router
      description: |
        Intelligently interprets natural language and routes to appropriate action.
        Use this for requests that don't fit other specific endpoints.
        
        **Examples:**
        - "capture: add support for dark mode"
        - "what's my focus today?"
        - "plan: build new dashboard"
      tags:
        - Core Commands
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Natural language command
                voice:
                  type: boolean
                  default: false
              required:
                - text
      responses:
        "200":
          description: Command processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/capture:
    post:
      operationId: captureItem
      summary: Capture task, note, or idea
      description: |
        Save anything to inbox. AI classifies priority automatically.
        
        **Examples:**
        - "Fix login bug"
        - "Call client tomorrow"
        - "New feature idea"
      tags:
        - Capture & Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: What to capture
                source:
                  type: string
                  enum: [gpt, voice, mobile]
                  default: gpt
                category:
                  type: string
                  enum: [task, bug, feature, note, reminder]
                voice:
                  type: boolean
                  default: false
              required:
                - text
      responses:
        "200":
          description: Item captured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/done:
    post:
      operationId: markDone
      summary: Mark task as complete
      description: |
        Fuzzy matches description and marks task done.
        
        **Examples:**
        - "done: fix login bug"
        - "completed: email client"
      tags:
        - Capture & Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Task description (fuzzy matched)
                voice:
                  type: boolean
                  default: false
              required:
                - text
      responses:
        "200":
          description: Task marked complete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== DAILY ROUTINES =====
  /webhook/morning:
    get:
      operationId: morningBriefing
      summary: Get morning briefing
      description: Today's priorities and quick wins
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Morning briefing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/nudge:
    get:
      operationId: getNudge
      summary: Get focus recommendation
      description: What to work on RIGHT NOW
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Focus recommendation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/evening:
    get:
      operationId: eveningReview
      summary: Get evening wrap-up
      description: Day summary and tomorrow plan
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Evening summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/daily-standup:
    get:
      operationId: dailyStandup
      summary: Daily standup
      description: Yesterday, today, blockers
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Standup summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== FREELANCE =====
  /webhook/log-gig:
    post:
      operationId: logGig
      summary: Log freelance gig
      description: |
        Record gig work. Format: "Client - $Amount - Description"
        
        **Examples:**
        - "ACME Corp - $1500 - Build landing page"
        - "log gig: TechStart - $800 - Website redesign"
      tags:
        - Freelance Tracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Gig details
                voice:
                  type: boolean
                  default: false
              required:
                - text
      responses:
        "200":
          description: Gig logged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/earnings:
    get:
      operationId: getEarnings
      summary: Get earnings summary
      description: Total, monthly, pending invoices
      tags:
        - Freelance Tracking
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [all-time, year, month, week]
            default: month
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Earnings report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== AI ASSISTANCE =====
  /webhook/plan:
    post:
      operationId: planWork
      summary: AI planning assistant
      description: |
        Break down goal into actionable steps.
        
        **Examples:**
        - "plan: build mobile app"
        - "create plan for refactoring auth"
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Goal to plan
              required:
                - text
      responses:
        "200":
          description: Plan created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/create-task:
    post:
      operationId: createTask
      summary: AI-structured task
      description: AI parses natural language into structured task
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Task description
              required:
                - text
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/code-review:
    post:
      operationId: codeReview
      summary: AI code review
      description: Review git changes in project
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: string
                  default: gratog
              required:
                - project
      responses:
        "200":
          description: Code review
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/ask-ai:
    post:
      operationId: askAI
      summary: Ask AI a question
      description: General-purpose AI query
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: Question for AI
                voice:
                  type: boolean
                  default: false
              required:
                - question
      responses:
        "200":
          description: AI response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== ANDROID CONTROL =====
  /webhook/android-action:
    post:
      operationId: androidAction
      summary: Perform Android action
      description: |
        Execute actions on Android: SMS, calls, notifications, clipboard, etc.
        
        **Actions:** save-note, post-tweet, open-url, send-sms, call, set-alarm, clipboard-set, clipboard-get, notify, tts
      tags:
        - Android Device Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [save-note, post-tweet, open-url, send-sms, call, set-alarm, clipboard-set, clipboard-get, notify, tts]
                data:
                  type: object
              required:
                - action
      responses:
        "200":
          description: Action completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/open-app:
    post:
      operationId: openApp
      summary: Launch Android app
      description: Open an app on the phone
      tags:
        - Android Device Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app:
                  type: string
                  description: App name (chrome, spotify, keep, x, whatsapp, etc)
              required:
                - app
      responses:
        "200":
          description: App opened
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/share-to-app:
    post:
      operationId: shareToApp
      summary: Share text to an app
      description: Share content to Keep, X, WhatsApp, etc
      tags:
        - Android Device Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app:
                  type: string
                  description: App name (keep, x, whatsapp, telegram, gmail, instagram)
                text:
                  type: string
                  description: Content to share
                title:
                  type: string
                  description: Optional title
              required:
                - app
                - text
      responses:
        "200":
          description: Content shared
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== GITHUB =====
  /webhook/github-status:
    get:
      operationId: getGitHubStatus
      summary: Get GitHub status
      description: Open issues and PRs across repos
      tags:
        - GitHub Integration
      parameters:
        - name: repo
          in: query
          schema:
            type: string
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: GitHub status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/github-todos:
    get:
      operationId: getGitHubTodos
      summary: Get TODO list from GitHub
      description: Prioritized issues across repos
      tags:
        - GitHub Integration
      parameters:
        - name: repo
          in: query
          schema:
            type: string
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: TODO list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== GUIDES =====
  /webhook/send-guide:
    post:
      operationId: sendGuide
      summary: Send guide/documentation to Termux
      description: Deliver guide, tutorial, or reference
      tags:
        - Guides & Knowledge Base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                category:
                  type: string
                  enum: [guide, tutorial, reference, snippet, checklist]
                  default: guide
              required:
                - title
                - content
      responses:
        "200":
          description: Guide saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/guides:
    get:
      operationId: listGuides
      summary: List saved guides
      description: All guides with optional filtering
      tags:
        - Guides & Knowledge Base
      parameters:
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of guides
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  count:
                    type: integer
                  guides:
                    type: array

  /webhook/guide/{filename}:
    get:
      operationId: getGuide
      summary: Get guide content
      description: Full markdown content of a guide
      tags:
        - Guides & Knowledge Base
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Guide content
          content:
            text/markdown:
              schema:
                type: string

  # ===== UTILITY =====
  /webhook/health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Verify API is running and synced
      tags:
        - Utility
      responses:
        "200":
          description: Server healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  uptime:
                    type: number
                  version:
                    type: string
                  synced:
                    type: boolean

  /webhook/inbox:
    get:
      operationId: getInbox
      summary: Get pending inbox
      description: Current tasks, notes, ideas
      tags:
        - Utility
      responses:
        "200":
          description: Inbox items
          content:
            application/json:
              schema:
                type: object

  /webhook/apps:
    get:
      operationId: listApps
      summary: List controllable apps
      description: Available Android apps
      tags:
        - Utility
      responses:
        "200":
          description: Available apps
          content:
            application/json:
              schema:
                type: object

tags:
  - name: Email
    description: Email sending (PRIMARY)
  - name: Core Commands
    description: Smart router
  - name: Capture & Inbox
    description: Task capture, completion
  - name: Daily Routines
    description: Morning, nudges, evening
  - name: Freelance Tracking
    description: Gigs and earnings
  - name: AI Assistance
    description: Planning, review, analysis
  - name: Android Device Control
    description: Android actions and apps
  - name: GitHub Integration
    description: GitHub status and issues
  - name: Guides & Knowledge Base
    description: Documentation
  - name: Utility
    description: Health, inbox, apps
