openapi: 3.1.0
info:
  title: DevSolo AI API
  version: "2.0"
  description: |
    **DevSolo AI** — Unified developer automation across Termux (CLI), GitHub (Cloud), and Windows (Desktop).
    
    Hosted on Termux, exposed via Cloudflare Tunnel.
    
    **Core Capabilities:**
    - Task capture, prioritization, and tracking
    - Freelance gig logging and earnings tracking
    - Daily briefings, focus nudges, and evening reviews
    - GitHub project status and TODO management
    - Android device control (apps, notifications, clipboard, TTS)
    - Cross-device synchronization (Termux ↔ GitHub ↔ Windows)
    - AI-powered planning, code review, and guidance
    
    **Response Format:**
    All successful responses return:
    ```json
    {
      "status": "success",
      "message": "Human-readable response",
      "data": { ... },
      "timestamp": "2026-01-22T10:30:00Z"
    }
    ```
    
    **Error Format:**
    ```json
    {
      "status": "error",
      "error": "error_code",
      "message": "Human-readable error",
      "timestamp": "2026-01-22T10:30:00Z"
    }
    ```
    
  contact:
    name: DevSolo Support
    url: https://github.com/jacla/devsoloai
  license:
    name: MIT

servers:
  - url: https://solospace.codewithsolo.com
    description: Production (Cloudflare Tunnel, Termux)
  - url: http://localhost:5000
    description: Local development (Termux)

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        API key for authentication.
        Include in Authorization header: `Bearer YOUR_API_KEY`

  schemas:
    # Response Envelopes
    TextResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, error]
        message:
          type: string
          description: Human-readable response
        timestamp:
          type: string
          format: date-time
      required:
        - status
        - message

    SuccessResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success]
        message:
          type: string
        data:
          type: object
          description: Response data (varies by endpoint)
        timestamp:
          type: string
          format: date-time
      required:
        - status
        - message

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum: [error]
        error:
          type: string
          description: Error code (e.g., invalid_request, unauthorized, not_found)
        message:
          type: string
          description: Human-readable error message
        timestamp:
          type: string
          format: date-time
      required:
        - status
        - error
        - message

    # Request Schemas
    SmartRequest:
      type: object
      properties:
        text:
          type: string
          description: Natural language command or question
          example: "capture: add support for dark mode"
        voice:
          type: boolean
          default: false
          description: If true, return plain text response (suitable for TTS)
      required:
        - text

    CaptureRequest:
      type: object
      properties:
        text:
          type: string
          description: Note, task, idea, or reminder to capture
          example: "Bug: Login form not validating email on mobile"
        source:
          type: string
          enum: [gpt, voice, mobile, web]
          default: gpt
          description: Origin of capture
        category:
          type: string
          enum: [task, bug, feature, idea, note, reminder]
          description: Optional category hint (AI will classify if not provided)
        project:
          type: string
          description: Associated project (gratog, tradealert, etc)
        voice:
          type: boolean
          default: false
          description: Return as plain text for TTS
      required:
        - text

    DoneRequest:
      type: object
      properties:
        text:
          type: string
          description: Description of completed task (fuzzy matched against inbox)
          example: "Fix login bug"
        voice:
          type: boolean
          default: false
      required:
        - text

    LogGigRequest:
      type: object
      properties:
        text:
          type: string
          description: |
            Gig details in natural language.
            Format: "Client Name - $Amount - Description"
          example: "ACME Corp - $1500 - Build landing page"
        project:
          type: string
          description: Associated project
        voice:
          type: boolean
          default: false
      required:
        - text

    AskAIRequest:
      type: object
      properties:
        question:
          type: string
          description: Question for AI to answer
          example: "How do I optimize React rendering?"
        context:
          type: string
          description: Optional context (project, file, etc)
        voice:
          type: boolean
          default: false
      required:
        - question

    # Data Schemas
    InboxItem:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
        text:
          type: string
        category:
          type: string
          enum: [task, bug, feature, idea, note, reminder, gig]
        priority:
          type: string
          enum: [low, medium, high]
        status:
          type: string
          enum: [inbox, in-progress, done, blocked]
        project:
          type: string
        dueDate:
          type: string
          format: date-time
        gigData:
          type: object
          properties:
            client:
              type: string
            amount:
              type: number
            invoiced:
              type: boolean
        timestamp:
          type: string
          format: date-time

    Guide:
      type: object
      properties:
        filename:
          type: string
        title:
          type: string
        category:
          type: string
          enum: [guide, tutorial, reference, snippet, checklist]
        savedAt:
          type: string
          format: date-time
        size:
          type: integer
          description: File size in bytes

paths:
  # ===== CORE COMMANDS =====
  /webhook/smart:
    post:
      operationId: smartCommand
      summary: Universal AI command router
      description: |
        Intelligently interprets natural language and routes to appropriate action.
        
        **Examples:**
        - "capture: write a guide on testing" → Saves guide
        - "done: fix login bug" → Marks task complete
        - "plan: build new dashboard" → Creates plan
        - "what's my focus?" → Returns priority task
      tags:
        - Core Commands
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmartRequest"
            examples:
              capture:
                value:
                  text: "capture: add dark mode support"
              query:
                value:
                  text: "what should I focus on?"
                  voice: true
      responses:
        "200":
          description: Command processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized (invalid/missing API key)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ===== CAPTURE & INBOX =====
  /webhook/capture:
    post:
      operationId: captureItem
      summary: Capture a note, task, idea, or reminder
      description: |
        Saves item to inbox. AI automatically classifies priority and category.
        Triggers GitHub sync.
      tags:
        - Capture & Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaptureRequest"
      responses:
        "200":
          description: Item captured and synced
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TextResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          category:
                            type: string
                          priority:
                            type: string

  /webhook/inbox:
    get:
      operationId: getInbox
      summary: View pending inbox items
      description: Returns current pending tasks, notes, and ideas awaiting action.
      tags:
        - Capture & Inbox
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [task, bug, feature, idea, note, reminder, gig]
          description: Filter by category
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, medium, high]
          description: Filter by priority
        - name: project
          in: query
          schema:
            type: string
          description: Filter by project
      responses:
        "200":
          description: Inbox summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  count:
                    type: integer
                  summary:
                    type: string
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/InboxItem"

  /webhook/done:
    post:
      operationId: markDone
      summary: Mark a task as complete
      description: Fuzzy matches description to pending items and marks as done.
      tags:
        - Capture & Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DoneRequest"
      responses:
        "200":
          description: Task marked complete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== DAILY ROUTINES =====
  /webhook/morning:
    get:
      operationId: morningBriefing
      summary: Get morning briefing
      description: |
        Returns today's priorities, pending work, and an encouraging start.
        Syncs latest inbox state from GitHub.
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
          description: Return plain text (suitable for TTS)
      responses:
        "200":
          description: Morning briefing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/nudge:
    get:
      operationId: getNudge
      summary: Get a productivity nudge
      description: Returns ONE specific action to focus on right now.
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Focus recommendation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/evening:
    get:
      operationId: eveningReview
      summary: Get evening wrap-up
      description: Summarizes day, acknowledges wins, and plans tomorrow.
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Evening summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/daily-standup:
    get:
      operationId: dailyStandup
      summary: Get daily standup summary
      description: Returns yesterday's accomplishments, today's plan, and blockers.
      tags:
        - Daily Routines
      parameters:
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Standup summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== FREELANCE TRACKING =====
  /webhook/log-gig:
    post:
      operationId: logGig
      summary: Log a freelance gig
      description: |
        Parses gig details (client, amount, description) and saves to inbox.
        Auto-calculates earnings and syncs to GitHub.
      tags:
        - Freelance Tracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogGigRequest"
      responses:
        "200":
          description: Gig logged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/earnings:
    get:
      operationId: getEarnings
      summary: Get freelance earnings summary
      description: |
        Returns earnings data: total, this month, pending invoices, and active gigs.
      tags:
        - Freelance Tracking
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [all-time, year, month, week]
            default: month
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Earnings report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== GITHUB INTEGRATION =====
  /webhook/github-status:
    get:
      operationId: getGitHubStatus
      summary: Get GitHub project status
      description: |
        Returns status of synced GitHub repos including open issues, PRs, and activity.
      tags:
        - GitHub Integration
      parameters:
        - name: repo
          in: query
          schema:
            type: string
          description: Filter to specific repo (owner/repo format)
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: GitHub status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  totalRepos:
                    type: integer
                  totalOpenIssues:
                    type: integer
                  totalOpenPRs:
                    type: integer
                  repos:
                    type: array
                    items:
                      type: object
                      properties:
                        repo:
                          type: string
                        openIssues:
                          type: integer
                        openPRs:
                          type: integer

  /webhook/github-todos:
    get:
      operationId: getGitHubTodos
      summary: Get actionable TODO list from GitHub
      description: |
        Returns prioritized list of open issues across repos.
        Bugs and critical issues sorted first.
      tags:
        - GitHub Integration
      parameters:
        - name: repo
          in: query
          schema:
            type: string
          description: Filter to specific repo
        - name: label
          in: query
          schema:
            type: string
          description: Filter by label (bug, enhancement, etc)
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: TODO list
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  totalTodos:
                    type: integer
                  todos:
                    type: array
                    items:
                      type: object

  # ===== AI ASSISTANCE =====
  /webhook/ask-ai:
    post:
      operationId: askAI
      summary: Ask AI a question
      description: General-purpose AI query endpoint. Provides context from projects and inbox.
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AskAIRequest"
      responses:
        "200":
          description: AI response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/plan:
    post:
      operationId: planWork
      summary: AI planning assistant
      description: Creates a plan or breaks down a goal into actionable steps.
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Goal or project to plan
              required:
                - text
      responses:
        "200":
          description: Plan created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/code-review:
    post:
      operationId: codeReview
      summary: AI code review
      description: Reviews git changes in a project using AI.
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: string
                  default: gratog
                  description: Project directory name
      responses:
        "200":
          description: Code review results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/create-task:
    post:
      operationId: createTask
      summary: AI-structured task creation
      description: AI parses natural language into structured task with priority, category, next action.
      tags:
        - AI Assistance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Natural language task description
              required:
                - text
      responses:
        "200":
          description: Task created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== GUIDES & KNOWLEDGE BASE =====
  /webhook/send-guide:
    post:
      operationId: sendGuide
      summary: Send a guide or document to Termux
      description: |
        Delivers a guide, tutorial, or documentation to the Termux environment.
        Saved as Markdown and tracked in inbox.
      tags:
        - Guides & Knowledge Base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Title of the guide
                content:
                  type: string
                  description: Full content in Markdown format
                category:
                  type: string
                  enum: [guide, tutorial, reference, snippet, checklist]
                  default: guide
                voice:
                  type: boolean
                  default: false
              required:
                - title
                - content
      responses:
        "200":
          description: Guide saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/guides:
    get:
      operationId: listGuides
      summary: List saved guides
      description: Returns all guides saved to Termux, with optional filtering.
      tags:
        - Guides & Knowledge Base
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: List of guides
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  count:
                    type: integer
                  guides:
                    type: array
                    items:
                      $ref: "#/components/schemas/Guide"

  /webhook/guide/{filename}:
    get:
      operationId: getGuide
      summary: Get a specific guide's content
      description: Returns the full markdown content of a saved guide.
      tags:
        - Guides & Knowledge Base
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
          description: Guide filename (with or without .md extension)
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Guide content
          content:
            text/markdown:
              schema:
                type: string

  # ===== ANDROID DEVICE CONTROL =====
  /webhook/android-action:
    post:
      operationId: androidAction
      summary: Perform Android action
      description: |
        Execute Android automations via Tasker.
        
        **Available actions:**
        - `save-note`: Save to Google Keep
        - `post-tweet`: Post to X/Twitter
        - `open-url`: Open URL in browser
        - `send-sms`: Send text message
        - `call`: Make phone call
        - `set-alarm`: Set alarm
        - `clipboard-set`: Copy to clipboard
        - `clipboard-get`: Get clipboard content
        - `notify`: Send notification
        - `tts`: Text-to-speech
      tags:
        - Android Device Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                    - save-note
                    - post-tweet
                    - open-url
                    - send-sms
                    - call
                    - set-alarm
                    - clipboard-set
                    - clipboard-get
                    - notify
                    - tts
                data:
                  type: object
                  description: Action-specific data
              required:
                - action
      responses:
        "200":
          description: Action completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/open-app:
    post:
      operationId: openApp
      summary: Open an Android app
      description: |
        Launch an app on the user's Android device.
        
        **Available apps:** chrome, firefox, instagram, spotify, keep, x, whatsapp, telegram, gmail
      tags:
        - Android Device Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app:
                  type: string
                  description: App name
                url:
                  type: string
                  description: Optional URL to open in app
              required:
                - app
      responses:
        "200":
          description: App opened
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  /webhook/share-to-app:
    post:
      operationId: shareToApp
      summary: Share text to an app
      description: Share content to apps (Keep, X, WhatsApp, Telegram, Gmail, Instagram).
      tags:
        - Android Device Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app:
                  type: string
                  description: Target app (keep, x, whatsapp, telegram, gmail, instagram)
                text:
                  type: string
                  description: Text content to share
                title:
                  type: string
                  description: Optional title/subject
              required:
                - app
                - text
      responses:
        "200":
          description: Content shared
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== FILE MANAGEMENT =====
  /webhook/files:
    get:
      operationId: queryFiles
      summary: Search synced project files
      description: |
        Query the synced filesystem to find files by name or path.
        Use to understand project structure and locate specific files.
      tags:
        - File Management
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search query (matches file paths)
        - name: dir
          in: query
          schema:
            type: string
          description: Limit to specific project directory
        - name: type
          in: query
          schema:
            type: string
            enum: [file, directory]
          description: Filter by type
      responses:
        "200":
          description: Matching files
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  totalMatches:
                    type: integer
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        type:
                          type: string
                        source:
                          type: string

  /webhook/file-context:
    get:
      operationId: getFileContext
      summary: Get project structure summary
      description: |
        Returns a summary of a synced project's structure including
        file types, top directories, and sample files.
      tags:
        - File Management
      parameters:
        - name: dir
          in: query
          required: true
          schema:
            type: string
          description: Project directory name
        - name: voice
          in: query
          schema:
            type: string
            enum: ["1"]
      responses:
        "200":
          description: Project context
          content:
            application/json:
              schema:
                type: object
                properties:
                  directory:
                    type: string
                  syncedAt:
                    type: string
                    format: date-time
                  totalFiles:
                    type: integer
                  topDirectories:
                    type: array
                    items:
                      type: string
                  fileTypes:
                    type: object

  /webhook/sync-files:
    post:
      operationId: syncFiles
      summary: Sync project files
      description: Triggers file sync for a project directory with GitHub.
      tags:
        - File Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dir:
                  type: string
                  description: Project directory to sync
              required:
                - dir
      responses:
        "200":
          description: Sync complete
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"

  # ===== UTILITY =====
  /webhook/health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Verify API is running and synced.
      tags:
        - Utility
      responses:
        "200":
          description: Server healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  uptime:
                    type: number
                  version:
                    type: string
                  synced:
                    type: boolean
                  timestamp:
                    type: string
                    format: date-time

  /webhook/apps:
    get:
      operationId: listApps
      summary: List controllable apps
      description: Get list of apps that can be launched or shared to.
      tags:
        - Utility
      responses:
        "200":
          description: Available apps
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  launchable:
                    type: array
                    items:
                      type: string
                  shareable:
                    type: array
                    items:
                      type: string
                  actions:
                    type: array
                    items:
                      type: string

tags:
  - name: Core Commands
    description: Universal smart commands
  - name: Capture & Inbox
    description: Task capture and inbox management
  - name: Daily Routines
    description: Morning, nudges, evening, and standup
  - name: Freelance Tracking
    description: Gig logging and earnings
  - name: GitHub Integration
    description: GitHub status and issues
  - name: AI Assistance
    description: AI-powered planning and analysis
  - name: Guides & Knowledge Base
    description: Documentation and guides
  - name: Android Device Control
    description: Android actions and app control
  - name: File Management
    description: File search and sync
  - name: Utility
    description: Health checks and lists
